.titleDialog {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
}

.buttonSubmit {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 400px;
}

button {
    width: 180px;
}

.buttonConfirm:enabled {
    color: white;
}